@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

* {
  box-sizing: border-box;

  /*base styles*/
}
body {
  text-align: center;
  width: 95%;
  color: rgb(100, 99, 99);
  font-family: sans-serif;
  margin: 0;
  padding: 0 5px;
}

main {
  background-color: rgb(250, 250, 250);
}

img {
  width: 95%;
}
ul {
  list-style-type: none;
  text-decoration: none;
}

a {
  color: rgb(100, 99, 99);
  text-decoration: none;
  display: block;
}
.main-nav {
  background-color: rgb(242, 245, 245);
  width: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  text-align: center;
  font-weight: 700;
  justify-content: space-around;
  margin: 0;
}

.button {
  padding: 10px 2px;
  background: white;
  border: 2px rgb(240, 237, 237);
  cursor: default;
  margin: 10px;
}
.button:active {
  border-style: inset;
}

header {
  background-color: rgb(245, 245, 245);
}

footer {
  background-color: rgb(245, 245, 245);
}

.name {
  font-family: arial;
  margin-top: 15px;
}

.bottom-name {
  float: left;
}

.backtotop {
  float: right;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.profile {
  width: 70%;
}

/* media queries */
/* tablet mode */
@media screen and (min-width: 768px) {
  main {
    display: flex;
    max-width: 1200px;

    justify-content: space-around;
    margin: 0 auto;
  }

  header {
    min-height: 470px;
    text-align: center;
  }

  .main-nav {
    width: 100%;
    justify-content: center;
    padding: 0 30px;
    text-align: center;
    margin-left: 20%;
    flex-direction: row;
  }

  .main-nav li {
    display: inline-block;
    text-align: center;
    flex-direction: row;
  }

  main section {
    column-count: 1;
  }

  .profile-img {
    float: right;
    width: 45%;
  }

  .profile-p {
    float: left;
    width: 55%;
  }

  .float-left {
    float: left;
    width: 384px;
    padding: 5px 2px 5px 10px;
    height: 470px;
  }

  .float-right {
    float: right;
    width: 384, px;
    padding: 5px 10px 5px 2px;
    height: 470px;
  }
}
